.nav-container {
	display: flex;
	justify-content: space-between;
	padding: 0.9em 3em;
	background-color: var(--green);
	box-shadow: 0px 20px 15px -7px #000000;
}
.nav-container a {
	color: #333;
	text-decoration: none;
}
.nav-items .list {
	display: flex;
	list-style: none;
}

.nav-items .list a {
	color: #333;
	text-decoration: none;
	margin-left: 1em;
	font-weight: 600;
}
